@page
@model PizzaLoco.Pages.PizzaSizes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Pizza Sizes</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PizzaSize[0].Size)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PizzaSize) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Size) cm
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PizzaSizeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PizzaSizeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PizzaSizeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
